body {
    background-color: #05122d;
    color: white;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 5%;
  }

  h1 {
    margin-bottom: 5%;
  }

  .total {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 5%;
  }

  .part {
    margin-top: 30px;
  }